.navbar {
    display: flex;
    background-color: #2a77eb;
    align-items: center;
    padding: 15px 30px;

    &-item {
        margin: 0 50px;
        position: relative;

        a {
            font-size: 20px;
            color: #f0f2f5;
            text-decoration: none;
        }

        i {
            margin-left: 10px
        }

        &-menu {
            position: absolute;
            top: 30px;
            width: 200px;
            padding: 0 15px;
            background-color: #2a77eb;
            z-index:2;

            &-item {
                padding: 10px 0;
            }
        }
    }
}
